@charset "utf-8";
 #wrapper{ width:1000px;
                   height:750px;
                   background:grey;
                   margin-top:10px;
                   margin-left:10px;
                   margin-bottom:10px;
                   margin-right 10px;
                   padding:10px;        
}
#menu { margin-bottom:10px;
               height:50px;
               width:750px;
               background:none;
               float:left;
			   
}
#pencarian { margin-bottom:10px;
                      margin-left:50px;
                      height:50px;
                      width:200px;
                      background:red;
                      float:left;
					  
    
					  
}
#logo { margin-bottom:10px;
             margin-right:20px;
             height:150px;
             width:150px;
             background:0;
             float:left;
             clear:both;
}
#header { margin-bottom:10px;
                 height:250px;
                 width:810px;
                 background:green;
                 float:left;
                } 
				 
				 #header img{
					 margin-left:auto;margin-right:auto;} 

#berita1 { margin-bottom:10px;
                 margin-right:20px;
                 height:250px;
                 width: 250px;
                 background:url(images.jpg)
				 ;
                 float:left;
                 clear:both;
		
}
p {text-align:center}
#berita2 {  margin-bottom:10px;
                  margin-right:20px;
                  margin-left:260px;
                  margin-top:-260px;
                  height:250px;
                  width: 250px;
                  background:url(1.jpg);
                  float:left;
                  clear:both;
} 
#berita3 { margin-bottom:10px;
                margin-right:20px;
                margin-left:520px;
                margin-top:-260px;
                height:250px;
                width: 250px;
                background:url(images1.jpg);
                float:left;
                clear:both;

}
#login { margin-bottom:10px;
             margin-left:800px;
             margin-top:-260px;
             height:200px;
             width:200px;
             background:url(12.jpg);
             float:left;
			 #sidebar ul li a {
	font-size: 14px;
	color: #393838;
	height: auto;
	width: auto;
}
ul#subscribe li a {
    font-size: 18px;  
}
ul#subscribe li {
    padding-bottom: 5px;
    padding-left: 35px;   
}
#login ul {
    list-style: none;
    padding-bottom: 25px;
}

li#rss {
    background:  no-repeat; 
}
 
li#email {
    background:  no-repeat; 
}
 
li#twitter {
    background:right; 
}
a.button {
    color: #3938;
    text-decoration: none;
    background: url(images/button_slice.jpg) repeat-x; 
	margin-left: 14px;
	padding: 13px 23px;
	border: 2px solid #c7c7c7;
}
}
#footer { margin-bottom:10px;
               height:150px;
               width:1000px;
               background:grey;
               float:left;
               padding:0px;     
}          
#simple {
    margin: 0;
    padding: 0;
    width: 125px;
}



#float li {
    background: linear-gradient(#687587, #404853);
    float: left;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

#float li a {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    padding: 10px 15px;
}

#float li a:hover {
  background: #454d59;
  color: #666;
}
form {
    width:500px;
    margin:50px auto;
}
.search {margin-bottom:10px;
                      margin-left:50px;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
	margin-left:auto;
	margin-right:auto;
          
                     
	
              
	
}



.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
	padding: 10px;
}

.header{
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}

/* Main */
	.left{
		width: 250px;
		border: 1px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.middle{
		width: 500px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

	.right{
		width: 250px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}

.footer{
	clear: both;
	border: 1px solid #dedede;
	padding: 10px;
	margin: 10px;
}


  
    
    
    
    

